:root {
	--darkgrey: rgb(18, 18, 18);
	--offwhite: rgb(225, 225, 225);
	--white: rgb(255, 255, 255);
}

body {
	background-color: var(--darkgrey);
	color: var(--offwhite);
}

#info, #bottom {
	text-align: center;
}

#board {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
}

.cell {
	border: none;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}

.cell:active {
	outline: none;
}

#A1 {
	border-bottom: 1px solid var(--offwhite);
	border-right: 1px solid var(--offwhite);
}

#A2 {
	border-bottom: 1px solid var(--offwhite);
	border-right: 1px solid var(--offwhite);
	border-left: 1px solid var(--offwhite);
}

#A3 {
	border-bottom: 1px solid var(--offwhite);
	border-left: 1px solid var(--offwhite);
}

#B1 {
	border-top: 1px solid var(--offwhite);
	border-bottom: 1px solid var(--offwhite);
	border-right: 1px solid var(--offwhite);
}

#B2 {
	border: 1px solid var(--offwhite);
}

#B3 {
	border-top: 1px solid var(--offwhite);
	border-bottom: 1px solid var(--offwhite);
	border-left: 1px solid var(--offwhite);
}

#C1 {
	border-top: 1px solid var(--offwhite);
	border-right: 1px solid var(--offwhite);
}

#C2 {
	border-top: 1px solid var(--offwhite);
	border-right: 1px solid var(--offwhite);
	border-left: 1px solid var(--offwhite)y;
}

#C3 {
	border-top: 1px solid var(--offwhite);
	border-left: 1px solid var(--offwhite);
}