#gameplay {
	display: none;
}

#board {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#options {
	border: 2px solid var(--offWhite);
	border-radius: 20px;
	padding-bottom: 20px;
	margin: 0 auto; /* Centers div */
	width: 50%;
}

#current-player-img {
	margin-bottom: 35px;
}