:root {
	--darkgrey: rgb(18, 18, 18);
	--offwhite: rgb(225, 225, 225);
	--white: rgb(255, 255, 255);
}

body {
	background-color: var(--darkgrey);
	color: var(--offwhite);
	text-align: center;
}

.subtitle {
	font-style: italic;
}

.flex-grid {
	display: flex;
	flex-direction: row;
	padding: 0px 10px 0px 20px;
	justify-content: center;
}

.flex-item {
	padding-right: 20px;
}

.board-row {
	display: flex;
}

.board-cell {
	border: none;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.board-cell:focus {
	outline: none;
}

.cell-image {
	width: 80%;
	height: 80%;
}

#gameplay {
	display: none;
}

#gameOver {
	display: none;
}

#board {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#options {
	border: solid;
	border-width: 2px;
	border-radius: 20px;
	border-color: var(--offwhite);
	width: 50%;
	margin-left: 25%;
	padding-bottom: 20px;
}

#options > .flex-grid > .flex-item > input {
	width: 35px;
}

#board-cell-A1 {
	border-bottom: 1px solid var(--offwhite);
	border-right: 1px solid var(--offwhite);
}

#board-cell-A2 {
	border-bottom: 1px solid var(--offwhite);
	border-right: 1px solid var(--offwhite);
	border-left: 1px solid var(--offwhite);
}

#board-cell-A3 {
	border-bottom: 1px solid var(--offwhite);
	border-left: 1px solid var(--offwhite);
}

#board-cell-B1 {
	border-top: 1px solid var(--offwhite);
	border-bottom: 1px solid var(--offwhite);
	border-right: 1px solid var(--offwhite);
}

#board-cell-B2 {
	border: 1px solid var(--offwhite);
}

#board-cell-B3 {
	border-top: 1px solid var(--offwhite);
	border-bottom: 1px solid var(--offwhite);
	border-left: 1px solid var(--offwhite);
}

#board-cell-C1 {
	border-top: 1px solid var(--offwhite);
	border-right: 1px solid var(--offwhite);
}

#board-cell-C2 {
	border-top: 1px solid var(--offwhite);
	border-right: 1px solid var(--offwhite);
	border-left: 1px solid var(--offwhite);
}

#board-cell-C3 {
	border-top: 1px solid var(--offwhite);
	border-left: 1px solid var(--offwhite);
}