body {
	background-color: var(--darkGray);
	color: var(--offWhite);
	text-align: center;
	font-size: var(--fontSize-small);
}

h1 {
	font-size: var(--fontSize-veryLarge);
	margin: 10px 0 10px 0;
}

h2 {
	font-size: var(--fontSize-large);
	margin: 10px 0 10px 0;
}

h3 {
	font-size: var(--fontSize-slightlyBigger);
	margin: 10px 0 10px 0;
}

h4 {
	font-size: var(--fontSize-normal);
	margin: 10px 0 10px 0;
}

h5 {
	font-size: var(--fontSize-slightlySmaller);
	margin: 10px 0 10px 0;
}

h6 {
	font-size: var(--fontSize-small);
	margin: 10px 0 10px 0;
}

label {
	display: flex;
	margin-bottom: -0.85em;
}